<div class="box box-solid box-danger pedido">
    <div class="box-header with-border">
        <h3 class="box-title">Pedidos</h3>
        <!--
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
        -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Nº de Pedido</th>
                        <th>Produto</th>
                        <th>Status</th>
                        <th>Endereço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                        <td>1 Pizza Calabresa Média, 2 Pizza Marguerita Grande</td>
                        <td><select class="form-control select-pedido">
                            <option>Processando</option>
                            <option>Em Preparação</option>
                            <option>Enviado</option>
                            <option>Entregue</option>
                            <option>Recusado</option>
                          </select></td>
                        <td>Rua de Cima</td>
                        
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR1848</a></td>
                        <td> 2 Pastéis de Frango, 1 Coxinha de Charque</td>
                        <td><select class="form-control select-pedido">
                            <option>Processando</option>
                            <option>Em Preparação</option>
                            <option>Enviado</option>
                            <option>Entregue</option>
                            <option>Recusado</option>
                          </select></td>
                        <td>Rua de Cima</td>
                        
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR7429</a></td>
                        <td>1 Joelho, 1 Bolo de Cenoura</td>
                        <td><select class="form-control select-pedido">
                            <option>Processando</option>
                            <option>Em Preparação</option>
                            <option>Enviado</option>
                            <option>Entregue</option>
                            <option>Recusado</option>
                          </select></td>
                        <td>Rua de Cima</td>
                        
                        
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR7429</a></td>
                        <td>4 Enroladinho</td>
                        <td><select class="form-control select-pedido">
                            <option>Processando</option>
                            <option>Em Preparação</option>
                            <option>Enviado</option>
                            <option>Entregue</option>
                            <option>Recusado</option>
                          </select></td>
                        <td>Rua de Cima</td>
                        
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR1848</a></td>
                        <td>5 Pudim De Leite</td>
                        <td><select class="form-control select-pedido">
                            <option>Processando</option>
                            <option>Em Preparação</option>
                            <option>Enviado</option>
                            <option>Entregue</option>
                            <option>Recusado</option>
                          </select></td>
                        <td>Rua de Cima</td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR7429</a></td>
                        <td>4 Empada Doce, 3 Cocorote</td>
                        <td><select class="form-control select-pedido">
                            <option>Processando</option>
                            <option>Em Preparação</option>
                            <option>Enviado</option>
                            <option>Entregue</option>
                            <option>Recusado</option>
                          </select></td>
                        <td>Rua de Cima</td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                        <td>5 Pastel de Carne</td>
                        <!--- aquiiiiiiii -->
                        <td><select class="form-control select-pedido">
                            <option>Processando</option>
                            <option>Em Preparação</option>
                            <option>Enviado</option>
                            <option>Entregue</option>
                            <option>Recusado</option>
                          </select></td>
                        <td>Rua de Cima</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    
    <div class="box-footer clearfix">
        <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a> -->
        <button type="button" class="btn btn-lg btn-primary pull-right">Atualizar</button>
    </div>
    
    <!-- /.box-footer -->
</div>