<div class="box box-danger margem-top">
    <div class="box-header with-border">
        <h3 class="box-title">Pedidos</h3>
        <!--
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
        -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Data/Hora</th>
                        <th>Nº de Pedido</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>25/07/2019 - 20:01</td>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">OR9842</a></td>
                        
                        <td><span class="label label-success">Entregue</span></td>
                        
                    </tr>
                    <tr>
                        <td>25/07/2019 - 20:01</td>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">OR1848</a></td>
                        
                        <td><span class="label label-warning">Processando</span></td>
                       
                        
                    </tr>
                    <tr>
                        <td>25/07/2019 - 20:01</td>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">OR7429</a></td>
                        
                        <td><span class="label label-primary">Em Preparação</span></td>
                        
                        
                        
                    </tr>
                    <tr>
                        <td>25/07/2019 - 20:01</td>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">OR7429</a></td>
                        
                        <td><span class="label label-info">Enviado</span></td>
                        
                        
                    </tr>
                    <tr>
                        <td>25/07/2019 - 20:01</td>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">OR1848</a></td>
                        
                        <td><span class="label label-info">Enviado</span></td>
                        
                    </tr>
                    <tr>
                        <td>25/07/2019 - 20:01</td>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">OR7429</a></td>
                        
                        <td><span class="label label-danger">Recusado</span></td>
                        
                    </tr>
                    <tr>
                        <td>25/07/2019 - 20:01</td>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">OR9842</a></td>
                        
                        <!--- aquiiiiiiii -->
                        <td><span class="label label-primary">Em Preparação</span></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    
    <div class="box-footer clearfix">
        <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a> -->
        <!-- <button type="button" class="btn btn-lg btn-primary pull-right">Atualizar</button> -->
    </div>
    
    <!-- /.box-footer -->
</div>

<div style="margin-top: 5%"></div>