  
<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
    <h1>
      {{loja?.name}}
    </h1>
  </section>


  <section class="content">

    <div class="row">
        <div class="col-xs-12">
          <div class="box box-solid">
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-sm-3 col-xs-12" *ngIf="loja">
                <img class="box-img-detail" [src]="loja?.imagePath" />
              </div>

              <dl class="col-sm-9 col-xs-12">
                <dt>Categoria</dt>
                <dd>{{loja?.category}}</dd>
                <dt>Quem somos</dt>
                <dd>{{loja?.about}}</dd>
                <dt>Horários</dt>
                <dd>{{loja?.hours}}</dd>
              </dl>
            </div>
            <!-- /.box-body -->
            <div class="box-footer detail-footer">
            <a class="pull-left" routerLinkActive="detail-active" [routerLink]="['menu']">
               Menu
            </a>
          </div>
          </div>
        </div>
        <!-- /.col-xs-12 -->

    </div>

    <div class="row">
        <router-outlet></router-outlet>
    </div>

  </section>
  <!-- FIM DO CONTEÚDO -->