<!--Head-->
<section class="content-header">
</section>
<!--Body-->
<section class="content">
<div class="content-wrapper">
        <div class="container">
          <!-- INÍCIO DO CONTEÚDO -->
          <section class="content-header">
            <h1>Produtos</h1>
          </section>
          <!--Blocos-->
          <section class="content">
    
            <div class="row">
              <div class="row">
                <div class="col-xs-12">
                  <div class="box box-solid">
                    <div class="box-header with-border">
                      <i class="fa fa-home"></i>
          
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="col-sm-3 col-xs-12" *ngIf="loja">
                        <img class="box-img-detail" [src]="loja?.imagePath" />
                      </div>
          
                      <dl class="col-sm-9 col-xs-12">
                        <dt>Categoria</dt>
                        <dd>{{loja?.category}}</dd>
                        <dt>Quem somos</dt>
                        <dd>{{loja?.about}}</dd>
                        <dt>Horários</dt>
                        <dd>{{loja?.hours}}</dd>
                      </dl>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer detail-footer">
                    <a class="pull-left" routerLinkActive="detail-active" [routerLink]="['menu']">
                       Menu
                    </a>
                  </div>
                  </div>
                </div>
                <!-- /.col-xs-12 -->
          
            </div>
          
          
            <div class="row">
                <router-outlet></router-outlet>
            </div>
              <!-- FIM DO MENU -->
              
          </div>

          
          <nav aria-label="Navegação de página">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" >Anterior</a></li>
              <li class="page-item"><a class="page-link" >1</a></li>
              <li class="page-item"><a class="page-link" >2</a></li>
              <li class="page-item"><a class="page-link" >3</a></li>
              <li class="page-item"><a class="page-link" >Próximo</a></li>
            </ul>
          </nav>
    
          </section>
          <!-- FIM DO CONTEÚDO -->
        </div>
        <!-- /.container -->
      </div>
      
</section>