<div class="box box-danger margem-auto" style="width: 40%">
        <div class="box-header with-border">
          <h3 class="box-title">Dados do Produto</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" [formGroup]="formulario" (ng-submit)="submit(formulario.value)">
          <div class="box-body">
            <div class="form-group">
              <label for="codigo-do-produto">Código</label>
              <input formControlName="codigo" type="text" class="form-control" 
              placeholder="Código" autocomplete="off">
              <div class="danger" *ngIf="!formulario.controls['codigo'].valid && formulario.controls['codigo'].touched">
                  Este campo é obrigatório. Digite apenas letras.</div>
            </div>
            <div class="form-group">
              <label for="preco-do-produto">Quantidade</label>
              <input formControlName="quantidade" type="number" class="form-control" placeholder="Quantidade">
              <div class="danger" *ngIf="!formulario.controls['quantidade'].valid && formulario.controls['quantidade'].touched">
                  Este campo é obrigatório. Digite apenas letras.</div>
            </div>
            <div class="form-group">
              <label for="nome-do-produto">Nome do Produto</label>
              <input formControlName="nomeProduto" type="text" class="form-control" placeholder="Nome do produto">
                <div class="danger" *ngIf="!formulario.controls['nomeProduto'].valid && formulario.controls['nomeProduto'].touched">
                  Este campo é obrigatório. Digite apenas letras.</div>
            </div>
            <div class="form-group">
              <label for="descricao-do-produto">Descrição</label>
              <textarea formControlName="descricao" type="text" class="form-control" placeholder="Descrição"></textarea>
              <div class="danger" *ngIf="!formulario.controls['descricao'].valid && formulario.controls['descricao'].touched">
                  Este campo é obrigatório. Digite apenas letras.</div>
            </div>
            <div class="form-group">
              <label for="preco-do-produto">Preço - R$</label>
              <input formControlName="preco" type="tel" class="form-control" placeholder="Preco do produto">
              <div class="danger" *ngIf="!formulario.controls['preco'].valid && formulario.controls['preco'].touched">
                  Este campo é obrigatório. Digite um preço válido.</div>
            </div>
            <div class="form-group">
              <label for="foto">Foto do produto</label>
              <input formControlName="foto" type="file" id="foto" accept="image/png, image/jpeg">
                <p class="help-block">Carregue a foto do no formato .png ou .jpg</p>
                <div class="danger" *ngIf="(!formulario.controls['foto'].valid && formulario.controls['foto'].touched) 
                || !formulario.controls['foto'].touched">
                    <strong>O produto deve ter uma imagem</strong></div>
            </div>
      
      
            <!--
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                -->
          </div>
          <!-- /.box-body -->
      
          <div class="box-footer">
            <a [routerLink]="[ '/p/produtos' ]" type="submit" class="btn btn-default pull-left" style="width: 20%"> Cancelar</a>
            <button [disabled]="!formulario.valid" type="submit" class="btn btn-primary pull-right" style="width: 20%"> Cadastrar</button>
          </div>
        </form>
        <!--{{ formulario.value | json}}-->
      </div>
      
      <div style="margin-top:5%"></div>