<!-- Head -->
<section class="content-header">
</section> 
<!-- Body -->
<section class="content">
      <div class="content-wrapper">
          <div class="container">
            <!-- INíCIO do CONTEÚDO -->
            <section class="content-header">
              <h1>Padarias / Lanchonetes</h1>
            </section> 
            <!--Blocos-->
            <section class="content"> 
              <div class="row">
                      <div *ngFor="let loja of lojas " class="col-sm-6 col-xs-12">
                        <app-loja [loja]="loja"></app-loja>
                    </div>
                </div>
            </section>
            
        <nav aria-label="Navegação de página">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" >Anterior</a></li>
            <li class="page-item"><a class="page-link" >1</a></li>
            <li class="page-item"><a class="page-link" >2</a></li>
            <li class="page-item"><a class="page-link" >3</a></li>
            <li class="page-item"><a class="page-link" >Próximo</a></li>
          </ul>
        </nav>
      </div>
      </div>
<!-- Fim do Body -->
</section>
