<div class="box box-danger margem-top">
    <div class="box-header with-border">
        <h3 class="box-title">Produtos</h3>
        <!--
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
            -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Produto</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">9832</a></td>
                        <td>Pizza Calabresa Média</td>
                        <td>Pizza de calabresa</td>
                        <td>R$ 30</td>
                    </tr>
                    <tr>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">2453</a></td>
                        <td>Pizza 4 queijos Grande</td>
                        <td>Pizza recheada com 4 queijos distintos</td>
                        <td>R$ 60</td>
                    </tr>
                    <tr>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">3645</a></td>
                        <td>Pizza Marguerita Média</td>
                        <td>Pizza marguerita</td>
                        <td>R$ 30</td>
                    </tr>
                    <tr>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">7852</a></td>
                        <td>Hambúrguer</td>
                        <td>Hámburger com alface, carne e molho</td>
                        <td>R$ 30</td>
                    </tr>
                    <tr>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">9874</a></td>
                        <td>Coxinha de frango</td>
                        <td>Coxinha recheada de frango</td>
                        <td>R$ 30</td>
                    </tr>
                    <tr>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">8523</a></td>
                        <td>Pastel de Frango</td>
                        <td>Pastel recheado de frango</td>
                        <td>R$ 5</td>
                    </tr>
                    <tr>
                        <td><a [routerLink]="[ '/p/pedidos/detalhes']">9826</a></td>
                        <td>Enroladinho</td>
                        <td>Enroladinho de Salsicha</td>
                        <td>R$ 5</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->

    <div class="box-footer clearfix">
        <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a> -->
        <a [routerLink]="[ '/p/produtos/add' ]" type="button" class="btn  btn-primary pull-right">
            <i class="fa fa-plus-square"></i>  Add Produto</a>
    </div>

    <!-- /.box-footer -->
</div>